<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>196935557073-oln318afsku30gk5ecahq54955l1qtji.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.196935557073-oln318afsku30gk5ecahq54955l1qtji</string>
	<key>API_KEY</key>
	<string>AIzaSyAIuD6x2mH8ZjYiMkR2hnpPoacgFAFy2vQ</string>
	<key>GCM_SENDER_ID</key>
	<string>196935557073</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Intimetec.ITT-Cafe</string>
	<key>PROJECT_ID</key>
	<string>itt-cafe</string>
	<key>STORAGE_BUCKET</key>
	<string>itt-cafe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:196935557073:ios:d43f42206966d4fd</string>
	<key>DATABASE_URL</key>
	<string>https://itt-cafe.firebaseio.com</string>
</dict>
</plist>